<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aw.hr.mapper.EmployeeMapper">
    <resultMap id="EmployeeResultMap" type="com.aw.hr.dto.res.EmployeeResponse">
        <id property="id" column="id"/>
        <result property="fullName" column="full_name"/>
        <result property="employeeCode" column="employee_code"/>
        <result property="orgUnitCode" column="org_unit_code"/>
        <result property="titleCode" column="title_code"/>
        <result property="employmentStatus" column="employment_status"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertSeedEmployee" parameterType="com.aw.hr.entity.EmployeeEntity">
        INSERT INTO employees (id, employee_code, full_name, org_unit_code, title_code, employment_status)
        VALUES (
                #{id},
                #{employeeCode},
                #{fullName},
                #{orgUnitCode},
                #{titleCode},
                'ACTIVE'
               );
    </insert>

    <select id="findById" resultMap="EmployeeResultMap">
        SELECT id, employee_code, full_name, org_unit_code, title_code, employment_status, created_at
        FROM employees
        WHERE id = #{id}
    </select>

    <select id="findByCode" resultMap="EmployeeResultMap">
        SELECT id, employee_code, full_name, org_unit_code, title_code, employment_status, created_at
        FROM employees
        WHERE employee_code = #{code}
    </select>
</mapper>